# Archivos binarios
*.exe
*.out

# Archivos temporales y de log
*.log

# Configuración local
.env
*.project
*.settings

# IDEs y editores
.vscode/
.vs/

# Git
.git/

# Archivos innecesarios en el contenedor
README.md
LICENSE
